<br>
<br>
<form #forumForm="ngForm" (ngSubmit)="onSubmit(contacto)">
    <label for="nombre">
        Nombre: <input type="text" name="nombre" [(ngModel)]="contacto.nombre" required placeholder="Ingrese el nombre" />
    </label>
    <label for="direccion">
        Dirección: <input type="text" name="direccion" [(ngModel)]="contacto.direccion" required placeholder="Ingrese la direccion" />
    </label>
    <label for="telefono">
        Teléfono: <input type="text" name="telefono" [(ngModel)]="contacto.telefono" required placeholder="Ingrese el teléfono" />
    </label>
    <button type="submit">Guardar</button>
</form>
<br>
<div *ngIf="contactos.length > 0" class="forum-list">
   <h2>Lista de Contactos</h2>

<table border="1" cellpadding="6">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contacto of contactos">
      <td>{{ contacto.nombre }}</td>
      <td>{{ contacto.direccion }}</td>
      <td>{{ contacto.telefono }}</td>
      <td>
        <button (click)="editarContacto(contacto)">Editar</button>
       <button (click)="confirmarEliminar(contacto.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

</div>